/* Generic Example Style */
body
{
    background-color: #eeeef0;
}

fieldset {
    background: white;
    padding: 1em;
    border-bottom: 3px solid rgba(0,0,0,0.2);
    border-radius: 0.25em;
}

/* Example Validation Styles */
input.invalid, button.invalid { 
    border-color: #FF0000; 
    background-color: rgba(255, 0, 0, 0.1);
}

input.valid, button.valid { 
    border-color: #00FF00; 
    background-color: rgba(0, 255, 0, 0.1);
}

.validation-error-container { color: red; }