<section class="row">
    <div class="six columns">
        <label>Name</label>
        <input type="text" class="u-full-width" v-model="name" placeholder="Name" v-show-error validate-property="name" />
    </div>
    <div class="six columns">
        <label>Age</label>
        <input type="text" class="u-full-width" v-model="age" placeholder="Age" v-show-error validate-property="age" view-strategy="tooltip" />
    </div>
    <div>
        <label>Hobbies</label>
        <div v-for="(hobby, index) in hobbies">
            <input type="text" class="u-full-width" v-model="hobby.hobbyName" placeholder="Hobby" v-show-error v-bind:validate-property="'hobbies[' + index + '].hobbyName'" />
        </div>
    </div>
</section>